*{
    margin: 0px;
    padding: 0px;
}

#container{
    position: relative;
}
.box{
    padding: 5px;
    float: left;
}
.box_img{
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    border-radius: 5px;
    background-color: #cccccc;
}
.box_img img{
    width: 150px;
    height: auto;
}